package ${service};

import com.github.pagehelper.PageInfo;
import ${entity}.${className};
import ${DTO}.${className}DTO;
import ${VO}.${className}VO;

import java.util.List;

/**
 * ${comments} 服务类
 *
 * @author ${author} ${datetime}
 */
public interface ${className}Service {


    /**
     * 保存信息
     */
     ${className}DTO save(${className}DTO ${classname});

    /**
     * 列表查询
     */
    PageInfo<${className}VO> page(${className}DTO ${classname});

    /**
     * 列表查询
     */
    List<${className}VO> listByParam(${className}DTO ${classname});

    /**
     * 更新
     */
    Integer update(${className} ${classname});

    /**
     * 通过id查询信息
     */
    ${className}VO detailById(Long id);

    /**
     * 通过多个参数查询信息
     */
    ${className}VO detailByParam(${className}DTO ${classname});


}
