package ${entity};

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.experimental.Accessors;
import java.math.BigDecimal;
import java.io.Serializable;
import java.time.LocalDateTime;
import java.io.Serializable;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Setter
@Getter
@NoArgsConstructor
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $allColumns)
    public static final String $column.capitalAttrName = "$column.columnName";
#end

    #foreach ($column in $allColumns)
    /**
     * $column.comments
     */
    #if($column.priFlag)
    @TableId
    #end
    private $column.attrType $column.lowerAttrName;
    #end

}
