<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapper}.${className}Mapper">

    <sql id="${tableName}_column">
#foreach($column in $allColumns)
#if(${foreach.count}==$allColumns.size())
        ${prefix}${column.columnName}
#else
        ${prefix}${column.columnName},
#end
#end
    </sql>

    <select id="page" resultType="${entity}.${className}">
        select
        <include refid="${tableName}_column">
            <property name="prefix" value="t1."/>
        </include>
        from ${tableName} t1
    </select>

</mapper>
